<html>

    <head>
        <title><%= title %></title> 
        <link href='/stylesheets/modal.css' rel="stylesheet" >
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <link rel="stylesheet" href="/stylesheets/reset.css"/>
        <script src="/javascripts/httpConnection.js"></script>
        <script src="/javascripts/util.js"></script>
    </head>

    <body>
        <%- include('./components/header.ejs'); %> 
        <section class="l-container row"> 
            <% videoList.forEach(item=>{ %> 
                <div class="card-wrap col l3" onClick="toPlay('<%= item.id %>')">
            <img class='card-center-btn' src="/imgs/play.png" />
            <section class="card card-margin card-hover"> 
                 <figure>
                     <img src="<%=  item.video_cover  %>"/>                     
                        <figcaption class="card-head">
                            <%= item.video_source %>
                        </figcaption>
                        <ul>
                            <li class="card-title"> <%= item.video_name %></li>
                            <li class="card-subtitle"> <%= item.video_introduce %></li> 
                        </ul>
                 </figure> 
             </section>    
            </div> 
            <% })  %>    
        </section> 
        <script>
        function toPlay(videoId){
            getPage('videoPlay',{
                id:videoId
            })
        }
</script>
    </body>    
</html>
